# Get your OpenAI API Key here for chat models: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=****

# OPTIONAL: Get your Fireworks AI API Key here for reasoning models: https://fireworks.ai/account/api-keys
FIREWORKS_API_KEY=****

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=lSNk0Npjr6R/uMoGw4yczjAjVBXCPGVD89jmVuTkGd0=

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# OPTIONAL: Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****

ASTRA_DB_COLLECTION=***
ASTRA_DB_APPLICATION_TOKEN=***

ASTRA_DB_API_ENDPOINT=***